<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hypertrace - Handover</title>

    <!-- Bootstrap core CSS -->
    <link href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" th:src="@{webjars/bootstrap/4.1.1/css/bootstrap.min.css}"
          type="text/css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="css/custom.css" th:src="@{css/custom.css}" type="text/css" rel="stylesheet"/>

</head>

<body>

<!--/*/ <th:block th:include="fragments/navbar-loggedin.html">
        </th:block> /*/-->

<div class="container">

    <div class="basic-template">
        <h1>
            Handover select page
        </h1>
        <form action="#" th:action="@{/manufacturerselect}" method="post">
            <div class="row">
                <div class="col-sm">
                    <input class="form-control" th:value="'ReceiverID: ' + ${receiverId}" name="receiver" title="receiver"
                           required="required" readonly>
                </div>
                <div class="col-sm">
                    <input class="form-control" th:value="'DelivererID: ' + ${deliverId}" name="deliverer" title="deliverer"
                           required="required" readonly>
                </div>
                <div class="col-sm">
                    <input class="form-control" th:value="'ShipmentID: ' + ${shipmentId}" name="shipment" title="shipment"
                           required="required" readonly>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-success">Accept
                        </button>
                    </div>
                </div>
            </div> <!-- /.container -->
        </form>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="webjars/jquery/3.1.1/jquery.min.js" th:src="@{webjars/jquery/3.1.1/jquery.min.js}"></script>
        <script src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"
                th:src="@{webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>

</body>
</html>