.navbar-custom {
    background-color: #000080;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, .8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
    text-align: center;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.navbar-custom .nav-item.active .nav-link {
    color: #ffffff;
    background-color: #000355;
}

.basic-template {
    padding: 3rem 1.5rem;
    text-align: center;
    font-size: xx-large;
}

img.team {
    width: 500px;
}