@import url('https://fonts.googleapis.com/css?family=Bungee|Exo+2:400,500,700,800,900');

.navbar-custom {
    background-color: #370D4E;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #00ff00;
}

* {
	font-family: "Exo 2";
}

.navbar-brand {
	font-family: "Bungee";
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.navbar-custom .nav-item.active .nav-link {
    color: #ffffff;
    background-color: #1C0529;
}

.basic-template {
    padding: 3rem 1.5rem;
    text-align: center;
    font-size: xx-large;
}

img.team {
    width: 500px;
}